# Example AWP ini Configuration.
# Copy this file together with awp_setup.py, awp_daemon.py, awp_nav.py, awp_dab.py
# and awp_start.sh to ~/awp.
# The normal flow is to start by python3 awp_setup.py in terminal and this will
# create the file awp_config.ini.
# If you want to rather tryout AWP without setup, change this example file to
# awp_config.ini and start python3 awp_dab.py in terminal (recommended) to modify
# this ini or manually modify it now. 
# The example is for 3 workspaces, but by using awp_dab.py you could add or remove
# workspaces as desired. Make sure to select the appropriate os_detected and
# session_type.

[general]
os_detected = xfce
session_type = x11
blanking_timeout = 1200
blanking_pause = false
workspaces = 3

[workspace1]
folder = /home/user/wallpapers/workspace1
icon = /home/user/awp/logos/workspace1.png
icon_color = #00ffd5
color_variable = workspace1_color
timing = 24h
mode = random
order = n
scaling = zoomed
icon_theme = Adwaita
gtk_theme = Adwaita-dark
cursor_theme = Adwaita
wm_theme = Adwaita
desktop_theme = Adwaita

[workspace2]
folder = /home/user/wallpapers/workspace2
icon = /home/user/awp/logos/workspace2.png
icon_color = #f8ec09
color_variable = workspace2_color
timing = 5m
mode = sequential
order = name_old
scaling = scaled
icon_theme = Adwaita
gtk_theme = Adwaita
cursor_theme = Adwaita
wm_theme = Adwaita
desktop_theme = Adwaita

[workspace3]
folder = /home/user/wallpapers/workspace3
icon = /home/user/awp/logos/workspace3.png
icon_color = #fa4781
color_variable = workspace3_color
timing = 30s
mode = sequential
order = name_az
scaling = scaled
icon_theme = Adwaita
gtk_theme = Adwaita
cursor_theme = Adwaita
wm_theme = Adwaita
desktop_theme = Adwaita
